[submodule "object_detection/caffe2"]
	path = object_detection/caffe2/caffe2
	url = https://github.com/caffe2/caffe2.git
[submodule "object_detection/detectron"]
	path = object_detection/caffe2/detectron
	url = https://github.com/ddkang/Detectron.git
[submodule "community"]
	path = community
	url = https://github.com/mlperf/community.git
