albumentations==1.3.0
opencv-python==4.7.0.72
pudb==2019.2
prefetch_generator
imageio==2.9.0
imageio-ffmpeg==0.4.2
torchmetrics==0.11.4
omegaconf==2.1.1
test-tube>=0.7.5
streamlit>=0.73.1
einops==0.3.0
transformers==4.19.2
webdataset==0.2.5
open-clip-torch==2.7.0
gradio==3.11
lightning==1.9.4
titans==0.0.7
datasets==2.10.1
colossalai==0.2.7
invisible-watermark==0.1.5
diffusers==0.14.0
cloudpathlib==0.13.0
git+https://github.com/facebookresearch/xformers.git@5eb0dbf315d14b5f7b38ac2ff3d8379beca7df9b#egg=xformers
bitsandbytes==0.37.2
git+https://github.com/mlcommons/logging.git@8405a08bbfc724f8888c419461c02d55a6ac960c
