https://github.com/NVIDIA/dllogger/archive/26a0f8f1958de2c0c460925ff6102a4d2486d6cc.zip
https://github.com/mlcommons/logging/archive/d08740cadb4188a5ebeb84ad6c68f98c1e129805.zip
tensorboard==2.3.0
unidecode==1.1.1
inflect==4.1.0
soundfile==0.10.3.post1
librosa==0.8.0
sox==1.4.1
sentencepiece==0.1.94
pandas==1.1.5
