absl-py==0.7.0
asn1crypto==0.24.0
astor==0.7.1
backports.functools-lru-cache==1.5
backports.weakref==1.0.post1
beautifulsoup4==4.6.0
blinker==1.3
certifi==2017.11.5
chardet==3.0.4
cloudpickle==0.8.0
CredentialKit==0.7
cryptography==2.3
cycler==0.10.0
dask==1.1.1
decorator==4.3.2
defusedxml==0.5.0
duplicity==0.7.17
enum34==1.1.6
fanotify==0.1
fasteners==0.12.0
funcsigs==1.0.2
futures==3.2.0
gast==0.2.2
glinux-identity==1
goobuntu-config-tools==0.1
goobuntu-sso-watcher==0.1
goobuntu-welcome==11
googlenetworkaccess==0.1
gpg==1.10.0
grpcio==1.18.0
h5py==2.9.0
html5lib==0.999999999
httplib2==0.11.3
idna==2.6
inotifyx==0.2.0
ipaddress==1.0.17
IPy==0.83
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kernel-pruner==47
keyring==10.6.0
keyrings.alt==2.2
kiwisolver==1.0.1
lockfile==0.12.2
lxml==4.2.5
Markdown==3.0.1
matplotlib==2.2.3
mercurial==4.7.2
mock==2.0.0
monotonic==1.0
networkx==2.2
numpy==1.16.1
oauthlib==2.0.4
olefile==0.44
PAM==0.4.2
pandas==0.24.1
paramiko==2.0.0
pbr==5.1.2
pexpect==4.2.1
Pillow==5.4.1
protobuf==3.6.1
psutil==5.4.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.15.4
pycrypto==2.6.1
pycurl==7.43.0.1
pygobject==3.26.1
pyinotify==0.9.6
PyJWT==1.5.3
PyKCS11==1.2.4
pyOpenSSL==17.5.0
pyparsing==2.3.1
python-apt==1.4.0b3
python-augeas==0.5.0
python-dateutil==2.8.0
python-debian==0.1.31
python-ldap==2.5.2
python-networkmanager==0.9.10
pytz==2018.9
pyudev==0.21.0
PyWavelets==1.0.1
pyxdg==0.25
PyYAML==3.12
rekey==1
requests==2.20.0
scikit-image==0.14.2
scikit-learn==0.20.2
scipy==1.2.1
scour==0.36
SecretStorage==2.3.1
six==1.12.0
sklearn==0.0
SOAPpy==0.12.22
subprocess32==3.5.3
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
toolz==0.9.0
urllib3==1.24
webencodings==0.5
Werkzeug==0.14.1
wstools==0.4.3
